<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-menu-button><ion-icon name="pizza" color="danger"></ion-icon></ion-menu-button>
        </ion-buttons>
    <ion-title>Politica de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <p>Por este instrumento eletrônico, LOJAVIRTUAL.COM.BR DESENVOLVIMENTO DE PROGRAMAS LTDA., pessoa jurídica com sede na cidade de Belo Horizonte – MG, inscrita no CNPJ sob o nº 11.063.110/0001-19 (doravante, “LOJAVIRTUAL.COM.BR”), informa a sua POLÍTICA DE PRIVACIDADE, conforme as disposições abaixo discriminadas:
   <br>
    Noções gerais:
    Este instrumento traz a política de privacidade dos serviços prestados pela LOJAVIRTUAL.COM.BR, mostrando a forma como os dados e informações pessoais de cada USUÁRIO serão administrados pela LOJAVIRTUAL.COM.BR.
    A LOJAVIRTUAL.COM.BR obtém informações dos USUÁRIOS de duas maneiras: cadastros e cookies.
    Cadastro – informações e dados:
    Para se tornar USUÁRIO da LOJAVIRTUAL.COM.BR, é necessário cadastrar-se e informar seus dados pessoais completos e exatos. A LOJAVIRTUAL.COM.BR poderá confirmar os dados pessoais informados e consultar entidades públicas, companhias especializadas ou bancos de dados, estando desde já expressamente autorizada. A informação que a LOJAVIRTUAL.COM.BR obtiver destas entidades será tratada de forma confidencial.
    Para usufruir dos serviços da LOJAVIRTUAL.COM.BR, é necessária a efetuação de cadastro, no qual haverá o fornecimento de alguns dados pessoais, os quais serão usados como forma de registro e controle pela LOJAVIRTUAL.COM.BR.
    Poderão ser coletados os seguintes dados pessoais, cuja veracidade é de responsabilidade do USUÁRIO:
    -NOME COMPLETO
    -CPF/CNPJ
    – EMAIL
    – LOGIN
    – SENHA
    Cabe ao USUÁRIO manter suas informações e dados pessoais atualizados.
    A LOJAVIRTUAL.COM.BR coleta e armazena automaticamente algumas informações sobre a atividade dos usuários cadastrados e visitantes de seu site. Tal informação pode incluir a URL de onde eles provêm (seja ela da própria LOJAVIRTUAL.COM.BR ou não), a que URL acessaram em seguida (seja ela da própria LOJAVIRTUAL.COM.BR ou não), o navegador que estão a utilizar e seus IPs de acesso, as páginas visitadas, as buscas realizadas, dentre outras informações poderão ser armazenadas e retidas.
    Os contatos efetuados pelo USUÁRIO com a LOJAVIRTUAL.COM.BR pelo atendimento online ficarão gravados no sistema, tendo acesso a eles alguns funcionários habilitados da LOJAVIRTUAL.COM.BR.
    <br>
    Cookies:
    A LOJAVIRTUAL.COM.BR coleta informações por meio de cookies, que são as informações enviadas pelo servidor da LOJAVIRTUAL.COM.BR ao computador do USUÁRIO para identificá-lo. Os cookies servem unicamente para controle interno de audiência e de navegação e jamais para controlar, identificar ou rastrear preferências do internauta, exceto quando este desrespeitar alguma regra de segurança ou exercer alguma atividade prejudicial ao bom funcionamento do site, como, por exemplo, tentativas de hackear o serviço. A aceitação dos cookies pode ser livremente alterada na configuração de seu navegador.
    Segurança de informações:
    A política de privacidade da LOJAVIRTUAL.COM.BR visa a garantir que quaisquer informações e dados dos usuários não serão fornecidos, publicados ou comercializados em quaisquer circunstâncias.
    Os dados pessoais informados à LOJAVIRTUAL.COM.BR são armazenados em um banco de dados reservado e com acesso restrito a alguns funcionários habilitados, que são obrigados, por contrato, a manter a confidencialidade das informações e não utilizá-las inadequadamente.
    <br>
    Senha:
    Para acesso dos serviços reservados unicamente aos utilizadores devidamente registrados, estes irão dispor de uma senha pessoal. Com ela poderão comprar, acessar sua conta pessoal, dentre outras atividades. Esta senha, que é escolhida pelo próprio USUÁRIO, deve ser mantida sob absoluta confidencialidade e, em nenhum caso, deverá ser revelada ou compartilhada com outras pessoas.
    Alterações da Política de Privacidade:
    A LOJAVIRTUAL.COM.BR pode alterar esta Política a qualquer tempo, com ou sem aviso prévio. No entanto, se esta Política for alterada de forma</p> 

</ion-content>
